body.fullpage
{
margin: 0; padding: 0;
}
div.cover
{
display: block;
text-align: center;
height: 95%;
}
img
{
max-width: 100%;
max-height: 100%;
}
img#coverimage
{
height: 95%;
}
img#coverimage:only-of-type
{
height: 95vh;
}
blockquote {margin: 0em; padding: 0em;}
a
{
text-decoration: underline;
color:#3344DB;
}
a:active, a:hover, a:focus
{
color:#B11021;
}
a:visited
{
color:#7D3F8F;
}
table
{
width:100%;
border-collapse: collapse;
margin: 0em 0em 0em 0em;
}
td
{
vertical-align: top;
padding:3px 3px 3px 3px;
}
blockquote {margin: 0em; padding: 0em;}


.image0
{
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:center;
}
.noindent_para
{
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:left;
}
.noindent_para_ts1
{
margin-top:0.4em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:left;
}
.object-box
{
font-family:sans-serif;
margin-top:1.2em;
margin-bottom:1.2em;
margin-left:0em;
margin-right:0em;
padding-left:0.7em;
border-left: 2px solid #000000;
}
.object-arrow
{
font-size:0.85em;
margin-top:0.2em;
margin-bottom:0em;
margin-left:2.6em;
margin-right:0em;
text-indent:-2.2em;
text-align:left;
}
.arrow-pad
{
padding-left:1em;
}
.chap_h2
{
font-family:sans-serif;
font-size:1.2em;
margin-top:1.2em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:left;
}
.chap_h3
{
font-family:sans-serif;
font-size:1.1em;
margin-top:1.3em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:left;
}
.chap_h4
{
font-family:sans-serif;
font-size:0.95em;
margin-top:1em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:left;
}
.chap_h5
{
font-size:0.90em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.s-pad
{
padding-left:0.7em;
}
.table0
{
margin-top:0em;
margin-bottom:0em;
text-align:center;
}
.square
{
margin-top:0em;
margin-bottom:0em;
margin-left:2.6em;
margin-right:0em;
text-indent:-1.3em;
text-align:left;
}
.squarea
{
margin-top:0em;
margin-bottom:0em;
margin-left:3em;
margin-right:0em;
text-indent:-1.3em;
text-align:left;
}
.object-title
{
font-size:0.90em;
margin-top:0em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:left;
font-weight:normal;
}
.pad-q
{
padding-left:0.6em;
}
.copy_txt_ts
{
font-size:0.90em;
margin-top:5em;
margin-bottom:1.3em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:left;
}
.copy_txt
{
font-size:0.90em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:left;
}
.copy_txt_bs
{
font-size:0.90em;
margin-top:0em;
margin-bottom:1.3em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:left;
}
.fm_head
{
font-size:2em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:left;
}
.tablea
{
margin-top:0.88em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:left;
}
.tab-noindi
{
margin-top:0.7em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
}
.border2a
{
border-bottom: solid 1px #6d6e71;
padding:0em 0em 0.7em 0em;
}
.tip-title
{
text-transform: uppercase;
font-family:sans-serif;
font-weight:bold;
font-size:0.9em;
margin-top:-0.7em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:center;
}
.box-para
{
font-size:0.90em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:left;
}
.que
{
margin-top:1.2em;
margin-bottom:0.7em;
margin-left:1.9em;
margin-right:0em;
text-indent:-1.4em;
text-align: left;
}
.queb
{
margin-top:1.2em;
margin-bottom:0em;
margin-left:1.9em;
margin-right:0em;
text-indent:-1.4em;
text-align: left;
}
.que0
{
margin-top:0em;
margin-bottom:0em;
margin-left:1.9em;
margin-right:0em;
text-indent:-1.4em;
text-align: left;
}
.que1
{
margin-top:1.3em;
margin-bottom:0.7em;
margin-left:1.9em;
margin-right:0em;
text-indent:-1.9em;
text-align: left;
}
.que-a
{
margin-top:0em;
margin-bottom:0em;
margin-left:4.0em;
margin-right:0em;
text-indent:-2.0em;
text-align:left;
}
.pad-a
{
padding-left:0.7em;
}
.bix1
{
border-left:10px solid #000000;
border-top:1px solid #000000;
border-bottom:1px solid #000000;
border-right:1px solid #000000;
margin-top:1.5em;
margin-bottom:1em;
padding:1em 1.7em 1em 1.7em;
}
.margin_note
{
margin-top:1.5em;
margin-bottom:1.5em;
padding: 1.0em;
border-radius:10px 10px 10px 10px;
background-color: #e7e7e8;
}
.alpha
{
margin-top:0.2em;
margin-bottom:0em;
margin-left:1.8em;
text-indent:-1.8em;
margin-right:0em;
text-align:left;
}
.indent
{
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:1.3em;
text-align:left;
}

.indent5
{
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:1.3em;
text-align:left;
}

.rightf
{
font-size:0.90em;
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:right;
}

.indentt
{
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:1.3em;
text-align:left;
}


.noindent
{
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:left;
}
.ex-pad
{
padding-left:0.5em;
}
.ex-num
{
margin-top:1em;
margin-bottom:0.5em;
margin-left:1.7em;
margin-right:0em;
text-indent:-1.3em;
text-align:left;
}
.ex-num1
{
margin-top:1em;
margin-bottom:0.5em;
margin-left:1.9em;
margin-right:0em;
text-indent:-1.9em;
text-align:left;
}
.inline
{
vertical-align: middle;
}
.spc
{
padding-left:0.5em;
}
.none
{
list-style-type:none;
padding:0em;
margin:0em;
}
.nonet
{
list-style-type:none;
padding:0em;
margin: 1em 0em 1em 0em;
}
.none5
{
list-style-type:none;
padding:0em;
margin: 0.3em 0em 0.3em 0em;
}
.sans
{
font-family:sans-serif;
}
.bb
{
font-size:0.90em;
font-weight:bold;
font-family:sans-serif;
}
td.tdfm
{
vertical-align:top;
}
.tabfm
{
font-size:3em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:center;
color:#ffffff;
}
.tabfm1
{
font-size:5em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:center;
color:#ffffff;
}
table.table_fm
{
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
font-weight:normal;
border-collapse:collapse;
width:100%;
}
.tabcfm
{
margin-top:2em;
margin-bottom:2em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
font-weight:normal;
background-color:#D0D0D2;
padding:0.5em;
}
dl
{
margin: 0em 0em 0em 0em;
padding: 0em 0em 0em 0em;
}
dt
{
float:left;
font-weight: normal;
padding: 0.5em 0.5em 0em 0em;
margin: 0em 0em 0em 0em;
}
dd
{
margin: 0em 0 0 0px;
padding: 0.5em 0em 0em 1.5em;
}
.sr-only
{
display: none;
white-space: nowrap;
height: 1px;
width: 1px;
overflow: hidden;
}
.lo_body
{
font-family:sans-serif;
font-size:0.90em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:left;
}
.squarex
{
font-family:sans-serif;
font-size:0.90em;
margin-top:0em;
margin-bottom:0em;
margin-left:2em;
margin-right:0em;
text-indent:-1.3em;
text-align:left;
}
.noindentx
{
font-size:0.90em;
font-family:sans-serif;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0.5em;
margin-right:0em;
text-indent:0em;
text-align:left;
}
.noindentxt
{
font-size:0.90em;
font-family:sans-serif;
margin-top:1em;
margin-bottom:0em;
margin-left:0.5em;
margin-right:0em;
text-indent:0em;
text-align:left;
}
.tab20
{
margin-top:0em;
margin-bottom:0em;
margin-left:10%;
margin-right:10%;
text-indent:0em;
}
.tab50
{
margin-top:0em;
margin-bottom:0em;
margin-left:25%;
margin-right:25%;
text-indent:0em;
}
.top
{
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.alpha1
{
margin-top:0.2em;
margin-bottom:0em;
margin-left:3.8em;
text-indent:-1.8em;
margin-right:0em;
text-align:left;
}
.expt
{
margin-top:0.5em;
margin-bottom:0em;
margin-left:1.8em;
margin-right:0em;
text-indent:0em;
text-align:left;
}
.captions
{
font-family:serif;
font-size:0.90em;
margin-top:0.5em;
margin-bottom:1.5em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:center;
}
.noindentt
{
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:left;
}
.mleft
{
font-family:sans-serif;
text-transform: uppercase;
font-size:0.80em;
margin-top:0.2em;
margin-bottom:0em;
margin-left:8em;
margin-right:0em;
text-indent:0em;
text-align:left;
}
.noindent5
{
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:left;
}


.none1
{
list-style-type:none;
padding:0em;
margin:0em 0em 0em 0em;
}
.tab-noindiiy
{
margin-top:0.7em;
margin-bottom:0.5em;
margin-left:0.3em;
margin-right:0em;
text-indent:0em;
text-align:left;
font-weight:normal;
}
.th-1
{
vertical-align: bottom;
color:#ffffff;
border-top:1px solid #000000;
border-bottom:1px solid #000000;
border-left:1px solid #000000;
border-right:1px solid #ffffff;
background: #231f20;
margin-top:0em;
margin-left:0em;
margin-right:0em;
margin-bottom:0em;
padding: 0.25em 0em 0.25em 0em;
}
.th-3
{
vertical-align: bottom;
color:#ffffff;
border-top:1px solid #000000;
border-bottom:1px solid #000000;
border-left:1px solid #ffffff;
border-right:1px solid #000000;
background: #231f20;
margin-top:0em;
margin-left:0em;
margin-right:0em;
margin-bottom:0em;
padding: 0.25em 0em 0.25em 0em;
}
.td-4
{
border-top:1px solid;
border-bottom:1px solid;
border-left:1px solid;
border-right:1px solid;
margin-top:0em;
margin-left:0em;
margin-right:0em;
margin-bottom:0em;
padding: 0.25em 1em 0.25em 1em;
}
.tabhc
{
font-size:0.9em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
font-weight:bold;
text-align:center;
}
.tab
{
font-size:0.85em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
font-weight:normal;
text-align:left;
}
.tabhang
{
font-size:0.85em;
margin-top:0em;
margin-bottom:0em;
margin-left:2.25em;
margin-right:0em;
text-indent:-1.25em;
font-weight:normal;
text-align:left;
}
.tabc
{
font-size:0.85em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
font-weight:normal;
text-align:center;
}

.w10
{width:10%;}
.w33
{width:33%;}
.w70
{width:70%;}

.part_num
{
font-family:sans-serif;
font-size:1.8em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:right;
}
.pn
{
display:block;
background-color:#e7e7e8;
padding:4em 1.2em 0.2em 1em;
}
.part_title
{
display:block;
font-family:serif;
font-size:1.2em;
margin-top:0em;
margin-bottom:1.3em;
margin-left:0em;
margin-right:1em;
text-indent:0em;
text-align:right;
}

.ctf
{
display:block;
font-family:serif;
font-size:1.8em;
margin-top:3em;
margin-bottom:1.3em;
margin-left:0em;
margin-right:1em;
text-indent:0em;
text-align:left;
}


.chap_num
{
font-family:sans-serif;
font-size:3em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:left;
}
.chap_title
{
font-family:serif;
display:block;
font-size:0.70em;
margin-top:0.3em;
margin-bottom:1.3em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:left;
}
.chap_gray
{
padding: 0em 0.6em 0em 0.2em;
background-color: #e7e7e8;
}

.ul
{
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:0em;
text-indent:0em;
text-align:left;
}

.capb
{
font-weight:bold;
font-family:sans-serif;
text-transform: uppercase;
font-size:0.80em;
}

.numb
{
margin-top:0em;
margin-bottom:0em;
margin-left:2.4em;
margin-right:0em;
text-indent:-1.2em;
text-align:left;
}
.snl
{
padding-left:0.5em;
}

.box0
{
border: solid 1px;
padding:0.8em;
margin-top:1em;
margin-bottom:0em;
margin-right:5em;
margin-left:5em;
}

.chap_h3a
{
font-family:sans-serif;
font-size:0.90em;
margin-top:1.2em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}

.chap_h30a
{
font-family:sans-serif;
font-size:0.90em;
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}

.ch
{
border-top:1px solid #000000;
font-weight:bold;
font-family:sans-serif;
font-size:0.90em;
margin-top:0.5em;
padding-top:0.5em;
margin-bottom:0.2em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:center;
}

.noindentq
{
font-weight:bold;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:left;
}

.alphap
{
font-size:1em;
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:2em;
margin-right:0em;
text-indent:0em;
text-align:left;
}

.text-centerg
{
font-family:sans-serif;
font-weight:bold;
font-size:1em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:center;
padding: 0.5em;
background: #d2d3d5;
}

.tableb
{
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:left;
border-bottom: solid 10px #d2d3d5;
}
.td-1
{
border-right:1px solid #000000;
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:left;
}
.td-2
{
font-size:1em;
margin-top:0em;
margin-bottom:0em;
padding-left:1em;
margin-right:0em;
text-indent:0em;
text-align:left;
}
.tabr
{
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:1em;
text-indent:0em;
text-align:right;
}

.boxf
{
border: solid 1px;
padding:0.8em;
margin-top:1em;
margin-bottom:1em;
margin-right:0em;
margin-left:0em;
}

.font
{
text-transform: uppercase;
display:block;
font-size:0.80em;
margin-top:0em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}

.centerx
{
font-family:sans-serif;
font-size:0.90em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:center;
}
.alphapt
{
font-size:1em;
margin-top:1.2em;
margin-bottom:0em;
margin-left:2em;
margin-right:0em;
text-indent:0em;
text-align:left;
}
.alphapt5
{
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:2em;
margin-right:0em;
text-indent:0em;
text-align:left;
}
.alphapi
{
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:2em;
margin-right:0em;
text-indent:1.2em;
text-align:left;
}
.alphap0
{
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:2em;
margin-right:0em;
text-indent:0em;
text-align:left;
}

.noindentx0
{
font-size:0.90em;
font-family:sans-serif;
margin-top:0em;
margin-bottom:0em;
margin-left:0.5em;
margin-right:0em;
text-indent:0em;
text-align:left;
}

.credit
{
font-family:serif;
font-size:0.85em;
margin-top:0.5em;
margin-bottom:1.5em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:center;
}

.fm_heady
{
font-family:sans-serif;
font-size:1.25em;
margin-top:2em;
margin-bottom:0.25em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:left;
}

.toc-pad1
{
margin-left:0.6em;
}

.toc-pad
{
margin-left:0.95em;
}

.toc_chap2
{
text-transform:none;
font-size:0.95em;
margin-top:1.2em;
margin-bottom:0.5em;
margin-left:1.7em;
margin-right:0em;
text-indent:-1.7em;
text-align:left;
font-weight:bold;
}

.toc_fm1
{
text-transform:none;
font-size:0.90em;
margin-top:0.2em;
margin-bottom:0em;
margin-left:2.4em;
margin-right:0em;
text-indent:0em;
text-align:left;
font-weight:normal;
}

.toc_chap
{
text-transform:none;
font-size:0.95em;
margin-top:1.2em;
margin-bottom:0.5em;
margin-left:1.8em;
margin-right:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
}

.toc_chap1
{
text-transform:none;
font-size:0.95em;
margin-top:1.2em;
margin-bottom:0.5em;
margin-left:1.5em;
margin-right:0em;
text-indent:-1.5em;
text-align:left;
font-weight:bold;
}

.toc_sec
{
text-transform:uppercase;
font-size:0.90em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
font-weight:bold;
text-align:center;
}

.toc_fm2
{
text-transform:none;
font-weight:normal;
margin-top:0.2em;
margin-bottom:0em;
margin-left:1.75em;
margin-right:0em;
text-indent:-1em;
text-align:left;
font-weight:normal;
}

.mid
{
vertical-align: middle;
}

.it
{
font-style: italic;
}

.tabl30
{
margin-top:0em;
margin-bottom:0em;
margin-left:0;
margin-right:30%;
text-indent:0em;
}

.source
{
font-size:0.8em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
font-weight:normal;
text-align:left;
}

.ulf
{
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
font-weight:normal;
text-align:left;
}

.foot
{
font-family:serif;
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
font-weight:normal;
text-align:left;
}

.image1
{
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:center;
}

.w100{width:100%;}
.w30{width:30%;}
.w34{width:34%;}
.w50{width:50%;}
.w57{width:57%;}
.w61{width:61%;}
.w62{width:62%;}
.w63{width:63%;}
.w68{width:68%;}
.w69{width:69%;}
.w72{width:72%;}
.w73{width:73%;}
.w79{width:79%;}
.w83{width:83%;}
.w87{width:87%;}
.w89{width:89%;}
.w90{width:90%;}
.w97{width:97%;}
